{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {{ block.super }}{% endblock title %}
{% block content %}
  <h2>Select Plants  </h2>

  <form method="post" action="{{ request.path }}?plant={{ request.GET.plant }}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Add Plant</button>
  </form>

  <h3>Selected Plants</h3>
  <ul>
    {% for selected_plant in zone.selected_plant.all %}
      <li>
        <p>Plant: {{ selected_plant.plant.name_en }}</p>
        <p class="card-text">Color: {{ selected_plant.color.name_en }}</p>
        <p class="card-text">Blooming Period: {{ selected_plant.blooming_period }}</p>
        <p class="card-text">Quantity: {{ selected_plant.qty }}</p>
        <p class="card-text">Price: {{ selected_plant.price }}</p>
      </li>
    {% endfor %}
  </ul>

  <a href="{% url 'zone_detail' pk=zone.id %}" class="btn btn-primary">Back to Zone</a>
{% endblock %}