{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {{ block.super }}{% endblock title %}
{% block content %}
  <h2>{{ garden_project.project_name }} Details</h2>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Project Name: {{ garden_project.project_name }}</h5>
      <p class="card-text">Created by: {{ garden_project.user.username }}</p>
      <p class="card-text">Public: {% if garden_project.public %}Yes{% else %}No{% endif %}</p>
      {% for zone in garden_project.zone.all %}
    <li>
        <p><a href="{% url 'zone_detail' project_id=garden_project.pk pk=zone.pk %}">{{ zone.name_en }}</a></p>
        <p><a href="{% url 'zone_detail' project_id=garden_project.pk pk=zone.pk %}">{{ zone.name_lt }}</a></p>
        <p class="card-text">Length: {{ zone.length }}</p>
        <p class="card-text">Width: {{ zone.width }}</p>
    </li>
{% endfor %}
      <form method="post" action="{% url 'delete_project' pk=garden_project.pk %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger"><a href="{% url 'confirm_delete_project' pk=garden_project.pk %}">Delete Project</a></button>
      </form>
      
        <button type="submit" class="btn btn-danger"><a href="{% url 'create_zone' project_id=garden_project.pk %}" class="btn btn-success">Create Zone</a></button>
    
      <a href="{% url 'my_projects' %}" class="btn btn-primary">Back to My Projects</a>
    </div>
  </div>
{% endblock %}
