{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {{ block.super }}{% endblock title %}
{% block content %}
  <h2>{{ garden_project.project_name }} Details</h2>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Project Name: {{ garden_project.project_name }}</h5>
      <p class="card-text">Created by: {{ garden_project.user.username }}</p>
      <p class="card-text">Public: {% if garden_project.public %}Yes{% else %}No{% endif %}</p>
      <!-- Add more details as needed -->
      <form method="post" action="{% url 'delete_project' pk=garden_project.pk %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger"><a href="{% url 'confirm_delete_project' pk=garden_project.pk %}">Delete Project</a></button>
      </form>
      <a href="{% url 'my_projects' %}" class="btn btn-primary">Back to My Projects</a>
    </div>
  </div>
{% endblock %}
