{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {{ block.super }}{% endblock title %}
{% block content %}
  <h2>Zone Details</h2>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Name (English): {{ zone.name_en }}</h5>
      <p class="card-text">Name (Lithuanian): {{ zone.name_lt }}</p>
      <p class="card-text">Length: {{ zone.length }}</p>
      <p class="card-text">Width: {{ zone.width }}</p>
      <p class="card-text">Garden Project: {{ zone.garden_project.project_name }}</p>
      <!-- Add more details as needed -->
    </div>
  </div>

  <!-- Display Zone Composition details -->
  <h3>Zone Composition</h3>
  
  <!-- Display Selected Plants details -->
  <button><a href="{% url 'selecting_plants' zone_id=zone.pk %}">Select Plants</a></button>
  <h3>Selected Plants</h3>
  {% for selected_plant in zone.selected_plant.all %}
    <p>Plant: {{ selected_plant.plant.name_en }} - Color: {{ selected_plant.color.name_en }} - Blooming Period: {{ selected_plant.blooming_period }} - Quantity: {{ selected_plant.qty }} - Price: {{ selected_plant.price }}</p>
    <!-- Add more selected plant details as needed -->
  {% endfor %}

  <!-- Display Photos details -->
  <h3>Photos</h3>
  <button><a href="{% url 'add_photo' zone_id=zone.pk %}">ADD Photo</a></button>
  {% for photo in photos %}
    <div>
        {% if photo.image %}
            <img src="{{ photo.image.url }}" alt="Photo">
        {% else %}
            <p>No image available</p>
        {% endif %}
        <p>season: {{ photo.season }}</p>
    </div>
{% endfor %}

  <a href="{% url 'gardenproject_detail' pk=zone.garden_project.pk %}" class="btn btn-primary">Back to Garden Project</a>
{% endblock %}